<!DOCTYPE html>
<html>

<head>
    <!--<meta charset="utf-8"># -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylessheet" -->

</head>

<body>
    {% extends "main.html" %}
    {% block content %}
    
    <div>
        {% for id, value in test_name %}
        <a href="poll\{{id}}">{{value}}</a>
        <br>
        {% endfor %}

        <!-- <a href={{path}}>Изменить роли пользователям</a>
        <a href={{path}}>Изменить роли пользователям</a> -->
    </div>
    {% endblock %}
</body>

</html>