<!DOCTYPE html>
<html>

<head>
    <!--<meta charset="utf-8"># -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link type="text/css" href="{{url_for('static', filename='css/styles.css')}}" rel="stylessheet" -->

</head>

<body>
    {% extends "main.html" %}
    {% block content %}

    <div>
        {% if isEditable == True%}
        <a href="\api\create_new_test" class="btn btn-warning">
            Создать новый тест
        </a>
        <br>
        {% endif %}
        {% for id, value in test_name %}
        <a href="poll\{{id}}">{{value}}</a>
        {% if isEditable == True%}
        <a href="edit_test\{{id}}\0" class="btn btn-warning">
            Изменить
        </a>
        {% endif %}
        <br>
        {% endfor %}

        <!-- <a href={{path}}>Изменить роли пользователям</a>
        <a href={{path}}>Изменить роли пользователям</a> -->
    </div>
    {% endblock %}
</body>

</html>