<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Опрос</title>
</head>

<body>
    {% extends "main.html" %}
    {% block content %}

    <div class="modal-container" id="resultModal">
        <div class="modal-window">
            <div id="modalContent">
                контент
            </div>
            <button class="btn btn-warning" onclick="Close()" id="backBtn">Закрыть</button>
            <!-- <a href="/" class="btn btn-warning" id="backBtn">Закрыть</a> -->
        </div>
    </div>



    <p>
        <b>Логин</b>
        {{user.login}}
    </p>
    <p>
        <b>ФИО</b>
        {{user.fio}}
    </p>
    <p>
        <b>Группа</b>
        <select name="selectGroup" id="selectGroup">
            {% for item in groups %}
            {% if group.id == item.id %}
            <option value="{{loop.index}}" selected>{{item.name}}</option>
            {% else %}
            <option value="{{loop.index}}">{{item.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>


        <b>Роль</b>
        <select name="selectRole" id="selectRole">
            {% if user.role == 0 %}
            <option value="0" selected>Студент</option>
            <option value="1">Преподаватель</option>
            <option value="2">Админ</option>
            {% elif user.role == 1 %}
            <option value="0">Студент</option>
            <option value="1" selected>Преподаватель</option>
            <option value="2">Админ</option>
            {% elif user.role == 2 %}
            <option value="0">Студент</option>
            <option value="1">Преподаватель</option>
            <option value="2" selected>Админ</option>
            {% endif %}
            <input type="hidden" value="{{id}}" id="get_id">
        </select>
    </p>
    <button class="btn btn-primary" onclick="Generate()">Сгенерировать новый пароль</button>
    <button class="btn btn-primary" onclick="GetData()">Принять</button>

    {% endblock %}
    <script src="{{ url_for('static', filename='script/test_script.js') }}"></script>
</body>

</html>