<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>Опрос</title>
    </head>
    <body>
        {% extends "main.html" %}
        {% block content %}

        <form method="POST" action="">
        <h1>{{test}}</h1>
        <div class="line"></div>
        <br>

        {% for item in range(length) %}

                <b>{{questions[item]}}</b>
                <br>
                
                {% for item1 in answers[item] %}
                    

                    <input type="radio" name="answer{{item}}" id="answer" value="{{loop.index}}">  {{item1}}</input>
                    <br>

                {% endfor %}

        {% endfor %}
       
            <button onclick="Enter()" id="action1" name="action1" value="VALUE1">Принять</button>
        </form>
        <script src="{{ url_for('static', filename='script/test_script.js') }}"></script>
        {% endblock %}
    </body>
</html>