<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style>br {
        line-height:22px;
     }</style>
    <title>Опрос</title>
</head>

<body>
    {% extends "main.html" %}
    {% block content %}

    {% for item in user %}
    <b>{{item.login}}</b>

    <b>{{roles[item.role]}}</b>
    <a href="/role/{{ item.id }}" class="btn btn-warning">
        Изменить
    </a>
    <br>
    {% endfor %}
    {% endblock %}
</body>

</html>