/* body {
  background: Linen;
  margin-top: 50px;
  margin-left: 50px;
  min-height: 100%;
  min-width: 100%;
} */

html {
  min-height: 100%;
  min-width: 100%;
}

p {
  font-family: Georgia, serif;
  font-size: 1em;
  color: DarkSlateGray;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 5.5em;
  color: rgb(39, 147, 248);
  margin-bottom: 4px;
} 

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}


.loginIndicator {
  display: inline-block;
  min-height: 10px;
  min-width: 10px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}

.passwordIndicator {
  display: inline-block;
  min-height: 10px;
  min-width: 10px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}

.message-box {
  position: relative;
  background-color: white;
  top: -5px;
}

.line {
  border-bottom: 2px solid rgb(39, 147, 248);
  width: 70%;
}




.navbar-text {
  color: rgb(250, 250, 250);
}

.navbar-brand {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
  font-size: 2.5rem;
}

.navbar-brand:hover {
  color: rgb(250, 250, 250);
  font-family: lobsterregular;
}

.site-header-logo h1 {
  color: rgb(39, 147, 248);
  font-family: lobsterregular;
  font-size: 3rem;
  margin-top: 2rem;
}